.form-control:focus {border-color:rgba(100,100,100,1)!important;
    -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
    }
    .form-control{ height: 50px !important;}
   