.links>a{
       color: black !important;
        font-size: 14px !important;
        margin-left: 10px;
}
.links{
    position: relative !important;
    transition: 3s all linear !important;
}
 .links:hover ::after{
    content: '' !important;
    position: absolute !important;
    left: 10px !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 2px; 
    background-color: #222;
} 